
* {
  margin: 0px;
  padding: 0px; }

a {
  color: #202325;
  text-decoration-line: none; }
  
a:hover {
    color: #202325;
    text-decoration-line: none; }

html {
  background-color: #dfe4eb;
  color: #202325; 
}

body{
  font-family: 'Open Sans';

}
header{
  font-family: 'Open Sans';

}

.text {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  text-align: start; 
}
          
.resaltado {
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
  text-align: center; 
}
          


.fila {
  width: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
        

.columna {
  width: 350px;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
  display:inline-block;
  vertical-align: middle;
  justify-content: space-between;
  overflow: hidden;
}