
@media only screen and (max-width: 768px){


    .Search{
        display: none;
    }
    .item:hover .subItem{
        margin-left:15px;
    }


}


.Wrapper {    
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;} 

.Left { 
    flex: 1;
    display: flex;
    align-items: center;
}

.Center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logo {
    font-weight: bold;
}

.Right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.MenuItem {
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}


.Search{
    position: 'relative';
    border-Radius: 2px;
    background-color: white, 0.15;
    margin-Left: 0;
    width: '100%';
}

.Search:hover{
    background-Color: white, 0.25,

}
  
.SearchIconWrapper{
    padding: 2px;
    height: '100%';
    position: 'absolute';
    pointer-events: 'none';
    display: 'flex';
    align-Items: 'center';
    justify-Content: 'center';
  }
  
.StyledInputBase {
    color: 'inherit';
}
  
.autocomplete {
   
    border-radius: 5px;
 
}


.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color:whitesmoke !important;
    
}

.MuiFormLabel-root.Mui-focused {
    color: whitesmoke !important;
  }

.item {
    display: flex;
    flex-direction: column;
    cursor:pointer;
    overflow: hidden;
    margin-bottom: 5px;
}

.itemColumn{
    display: flex;
    flex-direction: row;
}
.item:hover .subItem{
  
    display:initial;
    z-index: 2;

}

.subItem{
    margin-left: 20px;
    display: none;
    overflow: hidden;
    color:#2d3031;
    font-family:'Lato';
    font-weight: 500;

}

.subItem:hover {
    border-radius: 5px;
    border-color: whitesmoke;
 
    margin-top:3px;
    
}


.MuiAppBar-colorPrimary{
    background-color:transparent;
    background-image: linear-gradient(to top,  #C4CFDE, #8098B9);
}